appnope==0.1.0
arrow==0.15.1
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
croniter>=0.3.26
decorator==4.3.0
gevent==1.4.0
greenlet==0.4.15
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
more-itertools==5.0.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.1
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.7.0
Pygments==2.3.1
pytest==4.1.1
python-dateutil==2.7.5
redis==3.0.1
requests==2.21.0
six==1.12.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
fakeredis==0.16.0
pytest-mock==1.10.0
pytest-cov==2.6.1
